:root {
    --background-color-dark: #101010;
    --background-color-light: #1f1f1f;
    --white-accent-dark: #323232;
    --white-accent-mid: #969696;
    --white-accent-light: #fafafa;
    --main-color-one: #FAF8F1;
    --main-color-two: #FAEAB1;
    --main-color-three: #E5BA73;
    --main-color-four: #ec8200;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--background-color-dark);
    width: 100vw;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search_div {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_container {
    position: relative;
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.search_input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--background-color-light);
    background-color: transparent;
    border-radius: 20px;
    background-color: transparent;
    color: var(--main-color-one);
    padding: 0;
    margin: 0;
    padding-left: 20px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
}

.search_input:focus+.search_button {
    color: var(--main-color-one);
}

.search_button {
    position: absolute;
    right: 2px;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    margin-right: 2px;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    border: var(--background-color-light);
    color: var(--main-color-one);
    cursor: pointer;
    transition: transform 500ms ease;
    user-select: none;
}

.search_button:hover {
    transform: rotate(360deg);
}

.filter_div {
    width: 100%;
    border-radius: 20px;
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    max-height: 40px;
    flex-wrap: wrap;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 250ms ease;
}

.filter_div:hover {
    max-height: 500px;
}

.filter {
    border: 1px solid var(--white-accent-dark);
    border-radius: 20px;
    height: 20px;
    margin: 10px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    width: min-content;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: box-shadow 250ms ease;
}

input[type="checkbox"] {
    display: none;
}

.filter_box:checked+.filter_text {
    border-color: var(--white-accent-light);
    color: var(--main-color-three)
}

.filter_box:checked~.filter {
    border-color: var(--main-color-three);
}

.filter_text {
    color: var(--white-accent-mid);
    user-select: none;
    transition: color 250ms ease, border-color 250ms ease;
    font-weight: 500;
    text-wrap: nowrap;
}

.filter_box {
    transform: translateY(-200px);
}

.middle_bar {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0px 5% 0 5%;
}

.sort_div {
    position: relative;
    background-color: var(--background-color-light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin-left: 15px;
    cursor: pointer;
    max-height: 50px;
}

.sort_div:hover > .sort_dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.sort_dropdown {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-16px);

    top: calc(100% + 16px);
    right: 0;
    background-color: var(--background-color-light);
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    cursor: default;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px 1px black;
    transition: visibility 250ms ease, opacity 250ms ease, transform 250ms ease;
    z-index: 10;
}

.sort_element {
    width: auto;
    text-wrap: nowrap;
    margin: 8px;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--white-accent-dark);
    color: var(--white-accent-mid);
    cursor: pointer;
    font-size: 0.9rem;
    transition: color 250ms ease;
}

.sort_element:hover {
    color: var(--white-accent-light);
}

.sort_element:last-child {
    border: none;
    padding: 0;
}

.sort_div:hover>.sort_icon {
    fill: var(--white-accent-light);
}

.sort_icon {
    width: 30px;
    height: 30px;
    transition: fill 250ms ease;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color-light);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--white-accent-dark);
}

::-webkit-scrollbar-track {
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}

.movies_div {
    padding: 20px;
    margin: 20px 5% 20px 5%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-content: space-between;
}

.movies_div::after {
    content: "";
    flex-basis: calc(16.666% - 20px);
}

.movie_div {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 300px;
    max-width: 300px;
    max-height: 320px;
    display: flex;
    flex-direction: column;
    flex-basis: calc(16.666% - 20px);
    align-items: center;
    justify-content: flex-end;
    color: var(--white-accent-light);
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding: 0;
    transition: transform 250ms ease;
}

.movie_div:hover {
    transform: translateY(-5px);
}

.movie_div:hover .problem_div {
    opacity: 1;
}

.movie_poster_and_rating {
    position: relative;
    width: 100%;
    height: 85%;
    margin: 0;
}

.movie_poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 40px -20px white;
}

.movie_rating {
    position: absolute;
    bottom: 20px;
    right: -20px;
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--white-accent-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--main-color-four);
    box-shadow: 0 0 5px 1px black;
}

.movie_name_genres_and_more {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.problem_div {
    position: relative;
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-accent-light);
    font-size: 30px;
    opacity: 0;
}

.problem_popup_div {
    position: absolute;
    width: max-content;
    height: auto;
    opacity: 1;
    transform: scaleY(100%);
    bottom: 50px;
    right: 0;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--white-accent-dark);
    z-index: 9;
    overflow: hidden;
    transition: opacity 250ms ease, transform 250ms ease;
}

.problem_popup_element {
    font-size: 10px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
}

.problem_popup_element:hover {
    background: rgba(255, 255, 255, 0.1);
}

.hide {
    opacity: 0;
    transform: scaleY(0) translateY(100%);
}

.movie_name_and_genres {
    width: calc(100% - 20px);
    height: 15%;
    margin: 0;
}

.movie_name {
    margin: 12px 0 0 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.movie_genres {
    margin: 4px 0 0 0;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: var(--white-accent-mid);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.popup {
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--white-accent-dark);
    z-index: 10;
    width: 33.33%;
    height: auto;
    max-width: 33.33%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: visible;
    overflow: auto;
    transition: opacity 250ms ease, transform 250ms ease, visibility 250ms ease;
}

.popup_close_button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white-accent-light);
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.popup_close_button:hover {
    background-color: var(--white-accent-dark);
}

.hide_popup {
    opacity: 0;
    transform: translate(-50%, -50%) scale(90%);
    visibility: hidden;
}

.popup_logo {
    width: 100px;
    height: 100px;
    position: relative;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.popup_logo_div::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-6px);
    width: 25%;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    filter: blur(5px);
    animation: bounce_shadow 1.5s infinite ease-in-out;
}

@keyframes bounce_shadow {
    0% {
        width: 28%;
        height: 8px;
    }

    50% {
        width: 25%;
    }

    100% {
        width: 28%;
        height: 8px;
    }
}

.popup_header {
    color: var(--white-accent-light);
    text-align: center;
}

.popup_header_2 {
    color: var(--white-accent-mid);
    text-align: left;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    margin: 20px 0 5px 0;
}

.popup_paragraph {
    color: var(--white-accent-mid);
    text-align: justify;
    margin: 10px 0px 0px 0px;
}

.popup_buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.popup_button {
    background-color: transparent;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    font-weight: 500;
    color: var(--white-accent-light);
    cursor: pointer;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
}

.popup_button:hover {
    background-color: var(--white-accent-dark);
}

.blur_background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
    transition: backdrop-filter 250ms ease, background-color 250ms ease, visibility 250ms ease;
}

.blur {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    visibility: visible;
}

.loading_div {
    width: 100%;
    height: 20px;
    border-radius: 20px;
    margin: 0;
    background-color: var(--white-accent-dark);
    overflow: hidden;
}

.loaded_amount_div {
    width: 0%;
    height: 100%;
    background-color: var(--main-color-three);
    transition: width 250ms ease;
}

.wrong_right_movie_div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    align-items: space-between;
    justify-content: space-around;
}

.wrong_right_movie_inner_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
}

.wrong_movie_name {
    font-size: 14px;
    color: var(--white-accent-mid);
}

.wrong_right_movie_poster {
    width: 150px;
    height: 200px;
    object-fit: contain;
}

.simple_search_input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--white-accent-dark);
    padding-left: 10px;
    padding-right: 25px;
    width: 115px;
    height: 30px;
    color: var(--white-accent-mid);
    font-weight: 600;
    outline: none;
}

.simple_search_input:focus {
    border-bottom: 2px solid var(--white-accent-mid);
}

.simple_search_button {
    background-color: transparent;
    position: absolute;
    right: -4px;
    top: 4px;
    border: none;
    border-radius: 20px;
    width: 26px;
    height: 26px;
    color: var(--white-accent-mid);
    cursor: pointer;
    transition: color 250ms ease;
}

.simple_search_button:hover {
    color: var(--white-accent-light);
}

.right_movie_input_div {
    position: relative;
}

.choose_right_movie_div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: center;
}

.choose_right_movie_txt {
    font-size: 12px;
    font-weight: 300;
    color: var(--white-accent-mid);
    margin-right: 20px;
}

.movie_header {
    text-align: left;
    width: 100%;
}

.movie_infos_div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.movie_info_poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.movie_right_div {
    margin-left: 20px;
    width: 100%;
}

.movie_info_duration {
    font-weight: 300;
    font-size: 16px;
    color: var(--white-accent-mid);
    margin: 0;
}

.movie_info_genres {
    display: flex;
    flex-direction: row;
    margin: 0;
    user-select: none;
}

.movie_info_genre {
    font-weight: 300;
    font-size: 16px;
    color: var(--main-color-four);
    margin-right: 10px;
    border: 1px solid var(--main-color-four);
    padding: 5px;
    border-radius: 5px;
    transition: color 250ms ease, border 250ms ease;
}

.movie_info_genre:hover {
    color: var(--main-color-three);
    border: 1px solid var(--main-color-three);
}

.movie_info_additionals {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie_info_additional {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin: 8px 0px 8px 0px;
    border-radius: -5px;
}

.movie_info_additional_bold {
    font-weight: 500;
    color: var(--white-accent-light);
    font-size: 16px;
    margin: 0px 10px 0px 0px;
}

.movie_info_additional_normal {
    font-weight: 300;
    color: var(--white-accent-mid);
    font-size: 16px;
    margin: 0;
}

.movie_info_story_header {
    color: var(--white-accent-light);
    margin: 15px 0px 0px 0px;
    width: 100%;
    text-align: left;
}

.steps {
    margin-top: 40px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.check_circle_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.step_logo_svg {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
    background-color: var(--background-color-light);
}

.step_number {
    position: absolute;
    left: 20px;
    top: -15px;
    padding: 4px 8px 4px 8px;
    border: 1px solid var(--white-accent-mid);
    border-radius: 20px;
    color: var(--white-accent-light);
    background-color: var(--background-color-light);
    font-size: 0.8rem;
    user-select: none;
}

.step {
    position: relative;
    border-radius: 20px;
    border: 1px solid var(--white-accent-mid);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.step_paragraph {
    color: var(--white-accent-mid);
    text-align: justify;
    margin: 10px;
    user-select: none;
}

.successful {
    border-color: rgb(0, 200, 0);
    pointer-events: none;
}

.step.successful .step_number {
    border-color: rgb(0, 200, 0);
}

.step.successful .check_circle_div svg:nth-child(2) {
    display: none;
}