:root {
    --background-color-dark: #101010;
    --background-color-light: #1f1f1f;
    --white-accent-dark: #323232;
    --white-accent-mid: #969696;
    --white-accent-light: #fafafa;
    --main-color-one: #FAF8F1;
    --main-color-two: #FAEAB1;
    --main-color-three: #E5BA73;
    --main-color-four: #ec8200;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--background-color-light);
}

html {
    scroll-behavior: smooth
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb {
    background-color: var(--white-accent-light);
}

::-webkit-scrollbar-thumb {
    background-color: var(--white-accent-dark);
    border-radius: 12px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.background {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.top_bar {
    position: fixed;
    width: 90%;
    padding: 0 5% 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 250ms ease, box-shadow 250ms ease;
}

.darken {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.top_bar a {
    color: var(--white-accent-light);
    text-decoration: none;
    margin: 30px;
    font-size: 0.9rem;
    text-wrap: nowrap;
    transition: color 250ms ease;
}

.top_bar a:hover {
    color: var(--main-color-three);
}

#app_name {
    margin-right: auto;
    display: flex;
    justify-self: center;
    align-items: center;
}

.app_logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    padding: 0 5% 0 5%;
    background: radial-gradient(circle at center left, var(--background-color-dark), var(--background-color-light));
}

.part {
    width: 50%;
    min-width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 5%;
    text-align: center;
}

.part h1 {
    font-size: 3rem;
    text-align: left;
    color: var(--white-accent-light);
}

.part p {
    color: var(--white-accent-mid);
    font-size: 1.2rem;
}

.part a {
    padding: 20px 100px 20px 100px;
    border-radius: 50px;
    border: 1px solid var(--main-color-three);
    text-decoration: none;
    color: var(--main-color-three);
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    text-wrap: nowrap;
    transition: color 250ms ease, background-color 250ms ease;
}

.part a:hover {
    background-color: var(--main-color-three);
    color: var(--background-color-dark);
}

.text_left {
    text-align: left;
}

.svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider_button {
    width: 50px;
    height: 50px;
    min-width: 50px;
    padding: 10px;
    cursor: pointer;
    transition: transform 250ms ease, filter 250ms ease, opacity 250ms ease;
}

.slider_button:hover {
    transform: scale(110%);
}

.slides {
    display: flex;
    flex-direction: row;
    transition: transform 250ms ease;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.outer_slides {
    overflow: hidden;
    width: max-content;
    height: 30%;
    margin: 0 5% 0 5%;
}

.disabled {
    pointer-events: none;
    filter: saturate(50%);
    opacity: 0.25;
}

#top_bar_open_menu_button {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    color: var(--white-accent-light);
    display: none;
}

@media only screen and (max-width: 970px) {
    .section {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding: 0 5% 10% 5%;
        overflow: hidden;
    }

    .part {
        width: 100%;
        height: auto;
        padding: 0 5% 0 5%;
        margin-bottom: 50px;
    }

    .part h1 {
        font-size: 2rem;
        font-weight: 600;
        text-align: left;
        margin-top: 60px;
    }
    
    .part p {
        font-size: 1rem;
        text-align: left;
    }
    
    .part a {
        padding: 10px 50px 10px 50px;
        font-size: 0.8rem;
    }

    .slide p {
        text-align: center;
    }

    .slide h2 {
        font-size: 1.2rem;
    }

    .top_bar {
        flex-direction: column;
        align-items: center;
        max-height: 60px;
        overflow: hidden;
        transition: max-height 250ms ease;
    }

    .open {
        max-height: 100%;
    }

    .top_bar a {
        margin: 20px;
    }

    #top_bar_open_menu_button {
        display: block;
    }
}